<!doctype html>
<html lang="zxx">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>MgCuisine</title>
    {% block head %}{{ include('templateFront/head.html.twig') }}{% endblock %}
</head>
<body>
{% block header %}{{ include('templateFront/header.html.twig') }}{% endblock %}
{% block body %}{% endblock %}
{% block footer %}{{  include('templateFront/footer.html.twig') }}{% endblock %}
</body>
</html>